SCAN__PROJECTSBASEPATH=/path/to/projects
SCAN__CRONEXPRESSION=0 8 * * *
SCAN__SEVERITYFILTER__0=CRITICAL
SCAN__SEVERITYFILTER__1=HIGH

MAIL__HOST=smtp.example.com
MAIL__PORT=587
MAIL__USERNAME=user@example.com
MAIL__PASSWORD=yourpassword
MAIL__USESSL=true
MAIL__FROMADDRESS=checker@example.com
MAIL__FROMNAME=SeverityChecker
MAIL__RECIPIENTS__0=dev@example.com